

{% extends "./base.html" %}




{% block content%}
      <br>
      <br> 
   <div class="jumbotron container p-2  alert alert-danger text-center">
       <h1 class="display-4">Payment Failed</h1>
       <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur excepturi ipsa facere, voluptas fugiat repellat iure impedit necessitatibus corporis architecto, harum repellendus ex. Corporis animi impedit quaerat amet vitae eos?</p>
       <hr class="my-4">
       <p>Your Payment Failed...</p>
   </div>


{% endblock %}
